body,input,button{background: black;color: white;font-family: Arial, Helvetica, sans-serif;}
input,button {border: gray solid 2px;}
script {display: block;font-family: 'Courier New', Courier, monospace;white-space: pre;}